<div class="column card is-one-quarter">
  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <p class="subtitle is-4 is-dark">{{event_title}}</p>
        <p class="is-6">{{address_1}} {{address_2}}</p>
        <p class="is-6">{{time_start}}</p>
        <p class="is-6">{{description}}</p>
      </div>
    </div>
    <footer class="card-footer">
      <a
        href="#"
        class="card-footer-item button save"
        data-index="{{i}}"
      >Save</a>
      <input type="hidden" id="deleteid" value="{{event_id}}" />
      <button class="card-footer-item button delete" name="deletebtn" data-index="{{event_id}}">delete</button>
    </footer>
  </div>
</div>